@import '../../styles/base.scss';

.main {
    @include flex-display-column;
    align-items: center;

    &__card {
        width: 80%;
        margin: 25px 0;
        box-shadow: 0 10px 6px -6px #afafaf;
        text-align: left;

        &-category {
            background-color: #F9AA33;
            padding: 5px 12px;
            border-radius: 8px;
            align-self: flex-start;;
        }

        &-title {
            text-transform: uppercase;
            font-size: 18px;
        }

        &-description {}
    }
}