@import "../../App.scss";

@include sm {
  .search-box {
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    border: #E7E7E7 solid 1px;
    background-color: #FAFAFA;
    width: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 35px;
  }
}

@include md {
  .search-box {
    width: 200px;
  }
}

@include lg {

}