@import "../../styles/base.scss";

.header {
  @include flex-display-row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #757575;
  margin: 0 16px;
  padding: 16px 0;

@include tablet-size {
  margin: 0 24px;
}

@include desktop-size {
  margin: 0 180px;
}

}
.header-content__logo {
  width: 50px;

  @include tablet-size {
    width: 70px;
  }
}
.text {
  margin: 0;
  font-size: 22px;
  @include tablet-size {
    
  font-size: 32px;
  }

}