@import "../../App.scss";

  .header {
    @include sm {
      padding: 16px 0px;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    &__details {
      &--search {
        padding: 4px 0px;
      }
      &--button {
        margin: 0 15px;
      }
    }
  }

  .header__details {
    display: flex;
    justify-content: space-around;

    @include md {
      margin-top: 36px;
      margin-left: -150px;
    }

    @include lg {
      margin-top: 100px;
      margin-left: -250px;
    }
  }

  .jobs {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #F9AA33;


    @include sm {
      font-size: 16px;
      margin-right: 20px;
      margin-top: 30px;
    }
  
    @include md {
      font-size: 25px;
      margin-right: 50px;
      margin-top: 30px;
    }

    @include lg {
      font-size: 50px;
      margin-right: 150px;
      margin-top: 30px;
    }
  }

  .headlines {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #F9AA33;
    margin: 0;

    @include sm {
      font-size: 16px;
      margin-right: 20px;
      margin-top: 30px;
    }
  
    @include md {
      font-size: 25px;
      margin-right: 20px;
      margin-top: 30px;
    }

    @include lg {
      font-size: 50px;
    }
  }

  .header-content {

    @include sm {
      display: flex;
      justify-content: space-around;
    }

    @include md {
      justify-content: space-around;
    }
  }

  .header-img {
    @include sm {
      width: 72px;
      height: 48px;
      margin-right: 14px;
      margin-top: 14px;
    }

    @include md {
      width: 150px;
      height: 48px;
    }

    @include lg {
      width: 275px;
      height: 78px;
    }
  }

  .header-content {
    display: flex;
    height: 50px;
    width: 100%;
    margin: 0 10px;

    &__logo {
      max-width: 100%;
    }
  }

@include md {
  .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

@include lg {

  }
}