@import "styles/break-points.scss";

html, body {
  margin:0px;
  padding:0px;
  width:100%;
  line-height: 25px;
}

textarea, input[type=text]{
  font-size: 15px;
  &:focus {
  }
}

  .container {

    @include sm {
      margin: auto;
      padding: 0px 16px;
      width: 100%;
      box-sizing: border-box;
    }

    @include md {
      .container {
        padding: 0px 24px;
      }
    }

    @include lg {
      .container {
        padding: 0px 24px;
      }
    }
}